{% extends 'admin/_base.html.twig' %}

{% block title %}{{ "title.hospital_show"|trans }}: {{ hospital.name }} - {{ parent() }}{% endblock %}

{% block admin_breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_hospital_index') }}">{{ "label.hospitals"|trans }}</a></li>
    <li class="breadcrumb-item active">{{ "label.hospital_show"|trans }}</li>
{% endblock %}

{% block admin_title %}
    <!-- Page pre-title -->
    <div class="page-pretitle">
        {{ "title.hospital_show"|trans }}
    </div>
    <h2 class="page-title">
        {{ "title.hospitals"|trans }}
    </h2>
{% endblock %}

{% block admin_title_actions %}
    <div class="btn-list">
        {{ include('admin/hospital/_delete_form.html.twig') }}

        <a href="{{ path('app_admin_hospital_edit', {'id': hospital.id}) }}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                <path d="M16 5l3 3" />
            </svg>
            {{ "label.hospital_edit"|trans }}
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-body-secondary">
                    <h3 class="card-title">{{ "label.basic_info"|trans }}</h3>
                </div>
                <div class="card-body">
                    <div class="datagrid">
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.id"|trans }}</div>
                            <div class="datagrid-content">#{{ hospital.id }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.name"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.name }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.created_at"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.createdAt|date('d.m.Y H:i') }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.created_by"|trans }}</div>
                            <div class="datagrid-content">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6c7a91" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"  />
                                    <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
                                    <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                                </svg>
                                <a href="{{ path('app_admin_user_show', {id: hospital.createdBy.id}) }}">{{ hospital.createdBy }}</a>
                            </div>
                        </div>
                        {% if hospital.updatedAt %}
                            <div class="datagrid-item">
                                <div class="datagrid-title">{{ "label.updated_at"|trans }}</div>
                                <div class="datagrid-content">{{ hospital.createdAt|date('d.m.Y H:i') }}</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">{{ "label.updated_by"|trans }}</div>
                                <div class="datagrid-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6c7a91" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"  />
                                        <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
                                        <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                                    </svg>
                                    <a href="{{ path('app_admin_user_show', {id: hospital.updatedBy.id}) }}">{{ hospital.updatedBy }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.hospital_owner"|trans }}</div>
                            <div class="datagrid-content">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#6c7a91" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"  />
                                    <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
                                    <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                                </svg>
                                <a href="{{ path('app_admin_user_show', {id: hospital.owner.id}) }}">{{ hospital.owner }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-body-secondary">
                    <h3 class="card-title">{{ "label.address"|trans }}</h3>
                </div>
                <div class="card-body">
                    <div class="datagrid">
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.address_street"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.address.street }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.address_postalcode"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.address.postalCode }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.address_city"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.address.city }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.address_state"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.address.state }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.address_country"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.address.country }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.state"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.state }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.dispatchArea"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.dispatchArea }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.supply_area"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.supplyArea }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-body-secondary">
                    <h3 class="card-title">{{ "label.properties"|trans }}</h3>
                </div>
                <div class="card-body">
                    <div class="datagrid">
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.hospital_size"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.size.value }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.hospital_beds"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.beds }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.hospital_location"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.location.value }}</div>
                        </div>
                        <div class="datagrid-item">
                            <div class="datagrid-title">{{ "label.hospital_tier"|trans }}</div>
                            <div class="datagrid-content">{{ hospital.tier.value }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer mt-auto">
                    <div class="btn-list">
                        <a class="btn btn-outline-secondary" href="{{ path('app_admin_hospital_index') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M15 6l-6 6l6 6" />
                            </svg>
                            {{ "label.back_to_list"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
