{% extends 'admin/_base.html.twig' %}

{% macro sortArrow(sortName, sortBy, orderBy) %}
    {% if sortBy == sortName %}
        {% if orderBy == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% block title %}{{ "title.users"|trans }} - {{ parent() }}{% endblock %}

{% block admin_breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('app_admin_user_index') }}">{{ "label.users"|trans }}</a></li>
{% endblock %}

{% block admin_title %}
    <!-- Page pre-title -->
    <div class="page-pretitle">
        {{ "title.overview"|trans }}
    </div>
    <h2 class="page-title">
        {{ "title.users"|trans }}
    </h2>
{% endblock %}

{% block admin_title_actions %}
    <div class="btn-list">
        <form
            method="GET"
            action="{{ path('app_admin_user_index') }}"
            data-controller="autosubmit"
            data-turbo-frame="user-list"
        >
            <div class="input-icon">
                <input
                    type="search"
                    name="search"
                    value="{{ app.request.query.get('search') }}"
                    aria-label="{{ "label.search"|trans }}"
                    placeholder="{{ "label.search"|trans }}"
                    class="form-control d-inline-block w-9 me-3"
                    data-action="autosubmit#debouncedSubmit"
                    autofocus
                >
                <span class="input-icon-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="10" cy="10" r="7" />
                        <line x1="21" y1="21" x2="15" y2="15" />
                    </svg>
                </span>
            </div>
        </form>

        <span class="d-none d-sm-inline">
            <a href="{{ path('app_admin_user_new') }}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                    <path d="M9 12h6" />
                    <path d="M12 9v6" />
                </svg>
                {{ "label.user_new"|trans }}
            </a>
        </span>
    </div>
{% endblock %}

{% block body %}
    <turbo-frame id="user-list" data-turbo-action="advance" target="_top">
        <div class="card">
            <div class="card-body">
                    <div id="table-default" class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-1">
                                    <a href="{{ path('app_admin_user_index', {
                                        ...app.request.query.all(),
                                        sortBy: 'id',
                                        orderBy: sortBy == 'id' and orderBy == 'asc' ? 'desc' : 'asc',
                                    }) }}">
                                        {{ "label.id"|trans }} {{ _self.sortArrow('id', sortBy, orderBy) }}
                                    </a>
                                </th>
                                <th class="col-2">
                                    <a href="{{ path('app_admin_user_index', {
                                        ...app.request.query.all(),
                                        sortBy: 'username',
                                        orderBy: sortBy == 'username' and orderBy == 'asc' ? 'desc' : 'asc',
                                    }) }}">
                                        {{ "label.username"|trans }} {{ _self.sortArrow('username', sortBy, orderBy) }}
                                    </a>
                                </th>
                                <th class="col-2">
                                    {{ "label.email"|trans }}
                                </th>
                                <th class="col-1">
                                    {{ "label.roles"|trans }}
                                </th>
                                <th>
                                    <a href="{{ path('app_admin_user_index', {
                                        ...app.request.query.all(),
                                        sortBy: 'createdAt',
                                        orderBy: sortBy == 'createdAt' and orderBy == 'asc' ? 'desc' : 'asc',
                                    }) }}">
                                        {{ "label.created_at"|trans }} {{ _self.sortArrow('createdAt', sortBy, orderBy) }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ path('app_admin_user_index', {
                                        ...app.request.query.all(),
                                        sortBy: 'updatedAt',
                                        orderBy: sortBy == 'updatedAt' and orderBy == 'asc' ? 'desc' : 'asc',
                                    }) }}">
                                        {{ "label.updated_at"|trans }} {{ _self.sortArrow('updatedAt', sortBy, orderBy) }}
                                    </a>
                                </th>
                                <th class="col-1">
                                    {{ "label.user_verified"|trans }}
                                </th>
                                <th class="col-2">
                                    {{ "label.actions"|trans }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users.results %}
                                <tr>
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">{{ user.username }}</a>
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {% if "ROLE_ADMIN" in user.roles %}
                                            <span class="badge bg-orange-lt text-white">
                                                {{ "label.role_admin"|trans }}
                                            </span>
                                        {% elseif "ROLE_PARTICIPANT" in user.roles %}
                                            <span class="badge bg-blue-lt text-white">
                                                {{ "label.role_participant"|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge bg-azure-lt text-white">
                                                {{ "label.role_user"|trans }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ user.createdAt ? user.createdAt|date('d.m.Y H:i') : '' }}
                                    </td>
                                    <td>
                                        {{ user.updatedAt ? user.updatedAt|date('d.m.Y H:i') : '' }}
                                    </td>
                                    <td>
                                        {% if user.isVerified %}
                                            <span class="status status-green">
                                                {{ "label.yes"|trans }}
                                            </span>
                                        {% else %}
                                            <span class="status status-red">
                                                {{ "label.no"|trans }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{ path('app_admin_user_show', {'id': user.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-filled" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M12 4c4.29 0 7.863 2.429 10.665 7.154l.22 .379l.045 .1l.03 .083l.014 .055l.014 .082l.011 .1v.11l-.014 .111a.992 .992 0 0 1 -.026 .11l-.039 .108l-.036 .075l-.016 .03c-2.764 4.836 -6.3 7.38 -10.555 7.499l-.313 .004c-4.396 0 -8.037 -2.549 -10.868 -7.504a1 1 0 0 1 0 -.992c2.831 -4.955 6.472 -7.504 10.868 -7.504zm0 5a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
                                            </svg>
                                            &nbsp;{{ "label.show"|trans }}
                                        </a>
                                        <a class="btn btn-sm btn-secondary" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                <path d="M16 5l3 3" />
                                            </svg>
                                            &nbsp;{{ "label.edit"|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">
                                        <div class="empty">
                                            <div class="empty-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="9" y1="10" x2="9.01" y2="10" />
                                                    <line x1="15" y1="10" x2="15.01" y2="10" />
                                                    <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                                                </svg>
                                            </div>
                                            <p class="empty-title">{{ "label.search_no_results"|trans }}</p>
                                            <p class="empty-subtitle text-secondary">
                                                {{ "help.search_no_results"|trans }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">Showing <span>{{ users.numResults }}</span> results, with <span>{{ users.pageSize }}</span> per page.</p>
                {% if users.hasToPaginate %}
                    <ul class="pagination m-0 ms-auto">
                        {% if users.hasPreviousPage %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_admin_user_index', {page: users.previousPage}) }}" tabindex="-1" aria-disabled="true">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                                    {{ "label.previous"|trans }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                                    {{ "label.previous"|trans }}
                                </a>
                            </li>
                        {% endif %}
                        {% if users.hasNextPage %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_admin_user_index', {page: users.nextPage}) }}">
                                    {{ "label.next"|trans }} <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="{{ path('app_admin_user_index', {page: users.nextPage}) }}">
                                    {{ "label.next"|trans }} <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </turbo-frame>
{% endblock %}
