{% extends 'base.html.twig' %}

{% block title %}{{ "title.login"|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">{{ "title.login"|trans }}</h2>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {{ form_start(form) }}

                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}

                    <div class="mb-2">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input"/>
                            <span class="form-check-label">{{ "label.remember_me"|trans }}</span>
                        </label>
                    </div>

                    <input type="hidden"
                           name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}" />

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">{{ "label.signin"|trans }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}
