{% extends '_layout_vertical_turbo.html.twig' %}

{% import 'macros/pagination.html.twig' as pagination %}

{% block title %}{{ "title.list_hospitals"|trans }} - {{ "title.data"|trans }} - {{ parent() }}{% endblock %}

{% block header %}
    {% embed "embeds/header.html.twig" %}
        {% block header_after %}
            {% include 'includes/subnav_data.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{ "title.list_hospitals"|trans }}
                    </h2>
                </div>
                {% if is_granted('ROLE_PARTICIPANT') %}
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <form
                                method="GET"
                                action="{{ path('app_data_hospital_index') }}"
                                data-controller="autosubmit"
                                data-turbo-frame="hospital-list"
                            >
                                <div class="input-icon">
                                    <input
                                        type="search"
                                        name="search"
                                        value="{{ app.request.query.get('search') }}"
                                        aria-label="{{ "label.search"|trans }}"
                                        placeholder="{{ "label.search"|trans }}"
                                        class="form-control d-inline-block w-9 me-3"
                                        data-action="autosubmit#debouncedSubmit"
                                        autofocus
                                    >
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="10" cy="10" r="7" />
                                            <line x1="21" y1="21" x2="15" y2="15" />
                                        </svg>
                                    </span>
                                </div>
                            </form>

                            <span class="d-none d-sm-inline">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_admin_hospital_index') }}" class="btn btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                        </svg>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_PARTICIPANT') %}
                                    <a href="{{ path('app_data_hospital_new') }}" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"  />
                                            <path d="M9 12h6" />
                                            <path d="M12 9v6" />
                                        </svg>
                                        {{ "label.hospital_new"|trans }}
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <turbo-frame id="hospital-list" data-turbo-action="advance" target="_top">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-1">
                                        <a href="{{ path('app_data_hospital_index', {
                                            ...app.request.query.all(),
                                            sortBy: 'id',
                                            orderBy: sortBy == 'id' and orderBy == 'asc' ? 'desc' : 'asc',
                                        }) }}">
                                            {{ "label.id"|trans }} {{ pagination.sortArrow('id', sortBy, orderBy) }}
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ path('app_data_hospital_index', {
                                            ...app.request.query.all(),
                                            sortBy: 'name',
                                            orderBy: sortBy == 'name' and orderBy == 'asc' ? 'desc' : 'asc',
                                        }) }}">
                                            {{ "label.name"|trans }} {{ pagination.sortArrow('name', sortBy, orderBy) }}
                                        </a>
                                    </th>
                                    <th>
                                        {{ "label.state"|trans }}
                                    </th>
                                    <th>
                                        {{ "label.dispatchArea"|trans }}
                                    </th>
                                    <th class="col-2">
                                        <a href="{{ path('app_data_hospital_index', {
                                            ...app.request.query.all(),
                                            sortBy: 'createdAt',
                                            orderBy: sortBy == 'createdAt' and orderBy == 'asc' ? 'desc' : 'asc',
                                        }) }}">
                                            {{ "label.createdAt"|trans }} {{ pagination.sortArrow('createdAt', sortBy, orderBy) }}
                                        </a>
                                    </th>
                                    <th class="col-2">
                                        {{ "label.actions"|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hospital in paginator.results %}
                                <tr>
                                    <td>
                                        {{ hospital.id }}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_data_hospital_show', {id: hospital.id}) }}">{{ hospital.name }}</a>
                                    </td>
                                    <td>
                                        {{ hospital.state }}
                                    </td>
                                    <td>
                                        {{ hospital.dispatchArea }}
                                    </td>
                                    <td>
                                        {{ hospital.createdAt ? hospital.createdAt|date('d.m.Y H:i') : '' }}
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{ path('app_data_hospital_show', {'id': hospital.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-filled" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M12 4c4.29 0 7.863 2.429 10.665 7.154l.22 .379l.045 .1l.03 .083l.014 .055l.014 .082l.011 .1v.11l-.014 .111a.992 .992 0 0 1 -.026 .11l-.039 .108l-.036 .075l-.016 .03c-2.764 4.836 -6.3 7.38 -10.555 7.499l-.313 .004c-4.396 0 -8.037 -2.549 -10.868 -7.504a1 1 0 0 1 0 -.992c2.831 -4.955 6.472 -7.504 10.868 -7.504zm0 5a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
                                            </svg>
                                            &nbsp;{{ "label.show"|trans }}
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_PARTICIPANT') and hospital.user_id == app.user.id) %}
                                            <a class="btn btn-sm btn-secondary" href="{{ path('app_data_hospital_edit', {'id': hospital.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                    <path d="M16 5l3 3" />
                                                </svg>
                                                &nbsp;{{ "label.edit"|trans }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">
                                        <div class="empty">
                                            <div class="empty-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="9" y1="10" x2="9.01" y2="10" />
                                                    <line x1="15" y1="10" x2="15.01" y2="10" />
                                                    <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                                                </svg>
                                            </div>
                                            <p class="empty-title">{{ "label.search_no_results"|trans }}</p>
                                            <p class="empty-subtitle text-secondary">
                                                {{ "help.search_no_results"|trans }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        {{ pagination.results(paginator.numResults, paginator.pageSize) }}

                        {{ pagination.navbar(paginator, 'app_data_hospital_index') }}
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}
