{% set route = app.request.attributes.get('_route') %}

{% block header %}
    <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% block navbar_logo %}
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="{{ path('app_hello_world') }}">
                        {{ app_title }}
                    </a>
                </h1>
            {% endblock %}
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item d-none d-md-flex me-3">
                    <div class="btn-list">
                        <twig:ThemeSwitcher aria-label="Switch between light& dark mode" />
                    </div>
                </div>
            </div>
            <div class="navbar-nav flex-row order-md-last">
                {% block navbar_user %}
                    {% include "includes/navbar_user.html.twig" %}
                {% endblock %}
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                    <ul class="navbar-nav">
                        {% block navbar_links %}
                            <li class="nav-item {{ route starts with 'app_user' ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('app_user') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-users"
                                            width="24" height="24" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor"
                                            fill="none"
                                            stroke-linecap="round" stroke-linejoin="round"
                                        >
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                                        </svg>
                                    </span>
                                    <span class="nav-link-title">
                                        {{ "label.users"|trans }}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item {{ route starts with 'app_data' ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('app_data_index') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-database-heart"
                                            width="24" height="24" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor"
                                            fill="none"
                                            stroke-linecap="round" stroke-linejoin="round"
                                        >
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3" />
                                            <path d="M4 6v6c0 1.453 2.755 2.665 6.414 2.941" />
                                            <path d="M20 11v-5" />
                                            <path d="M4 12v6c0 1.579 3.253 2.873 7.383 2.991" />
                                            <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
                                        </svg>
                                    </span>
                                    <span class="nav-link-title">
                                        {{ "label.data"|trans }}
                                    </span>
                                </a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block header_after %}
{% endblock %}
