{% extends 'admin/_base.html.twig' %}

{% import 'macros/pagination.html.twig' as pagination %}

{% block title %}{{ "title.audit_log"|trans }} - {{ parent() }}{% endblock %}

{% block admin_breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">{{ "label.audit_log"|trans }}</li>
{% endblock %}

{% block admin_title %}
    <!-- Page pre-title -->
    <div class="page-pretitle">
        {{ "title.list_logs"|trans }}
    </div>
    <h2 class="page-title">
        {{ "title.audit_log"|trans }}
    </h2>
{% endblock %}

{% block admin_title_actions %}
{% endblock %}

{% block body %}
<turbo-frame id="user-list" data-turbo-action="advance" target="_top">
    <div class="card">
        <div class="card-body">
            <div id="table-default" class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-1">
                            {{ "label.id"|trans }}
                        </th>
                        <th class="col-2">
                            {{ "label.user"|trans }}
                        </th>
                        <th class="col-2">
                            {{ "label.action"|trans }}
                        </th>
                        <th class="col-2">
                            {{ "label.entity"|trans }}
                        </th>
                        <th>
                            {{ "label.created_at"|trans }}
                        </th>
                        <th class="col-2">
                            {{ "label.actions"|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for auditlog in paginator.results %}
                        <tr>
                            <td>
                                <a href="{{ path('app_admin_system_auditlog_detail', {id: auditlog.id}) }}">#{{ auditlog.id }}</a>
                            </td>
                            <td>
                                {% if auditlog.user %}
                                    <a href="{{ path('app_admin_user_show', {id: auditlog.user.id}) }}">{{ auditlog.user }}</a>
                                {% else %}
                                    <code>none</code>
                                {% endif %}
                            </td>
                            <td>
                                {% if auditlog.action == 'insert' %}
                                    <span class="badge bg-green text-white">{{ 'label.action_insert'|trans }}</span>
                                {% elseif auditlog.action == 'update' %}
                                    <span class="badge bg-cyan text-white">{{ 'label.action_update'|trans }}</span>
                                {% elseif auditlog.action == 'remove' %}
                                    <span class="badge bg-red text-white">{{ 'label.action_remove'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-secondary text-white">{{ auditlog.action }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if auditlog.action != 'remove' %}
                                    {% if auditlog.entityType == 'User' %}
                                        <a href="{{ path('app_admin_user_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'DispatchArea' %}
                                        <a href="{{ path('app_admin_area_dispatch_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'State' %}
                                        <a href="{{ path('app_admin_area_state_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'SupplyArea' %}
                                        <a href="{{ path('app_admin_area_supply_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'Hospital' %}
                                        <a href="{{ path('app_admin_hospital_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% else %}
                                        {{ auditlog.entityType }} ({{ auditlog.entityId }})
                                    {% endif %}
                                {% else %}
                                    <del class="text-muted">{{ auditlog.entityType }} ({{ auditlog.entityId }})</del>
                                {% endif %}
                            </td>
                            <td>
                                {{ auditlog.createdAt|date('d.m.Y H:i') }}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('app_admin_system_auditlog_detail', {id: auditlog.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-filled" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 4c4.29 0 7.863 2.429 10.665 7.154l.22 .379l.045 .1l.03 .083l.014 .055l.014 .082l.011 .1v.11l-.014 .111a.992 .992 0 0 1 -.026 .11l-.039 .108l-.036 .075l-.016 .03c-2.764 4.836 -6.3 7.38 -10.555 7.499l-.313 .004c-4.396 0 -8.037 -2.549 -10.868 -7.504a1 1 0 0 1 0 -.992c2.831 -4.955 6.472 -7.504 10.868 -7.504zm0 5a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
                                    </svg>
                                    &nbsp;{{ "label.show"|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <div class="empty">
                                    <div class="empty-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="12" cy="12" r="9" />
                                            <line x1="9" y1="10" x2="9.01" y2="10" />
                                            <line x1="15" y1="10" x2="15.01" y2="10" />
                                            <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                                        </svg>
                                    </div>
                                    <p class="empty-title">{{ "label.search_no_results"|trans }}</p>
                                    <p class="empty-subtitle text-secondary">
                                        {{ "help.search_no_results"|trans }}
                                    </p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center">
            {{ pagination.results(paginator.numResults, paginator.pageSize) }}

            {{ pagination.navbar(paginator, 'app_admin_system_auditlog') }}
        </div>
    </div>
</turbo-frame>
{% endblock %}
