{% macro sortArrow(sortName, sortBy, orderBy) %}
    {% if sortBy == sortName %}
        {% if orderBy == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% macro results(numResults, pageSize) %}
    <p class="m-0 text-muted">
        {{ "label.pagination_results"|trans({'numResults': numResults, 'pageSize': pageSize}) }}
    </p>
{% endmacro %}

{% macro navbar(paginator, targetPath) %}
    {% if paginator.hasToPaginate %}
        <ul class="pagination m-0 ms-auto">
            {% if paginator.hasPreviousPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(targetPath, {page: paginator.previousPage}) }}" tabindex="-1" aria-disabled="true">
                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                        {{ "label.previous"|trans }}
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                        {{ "label.previous"|trans }}
                    </a>
                </li>
            {% endif %}
            {% if 3 >= paginator.lastPage %}
                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path(targetPath, {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if 1 > paginator.currentPage - 1 and paginator.currentPage < paginator.lastPage %}
                    {% set min = 1 %}
                    {% set max = paginator.currentPage + 2 %}
                {% elseif 1 <= paginator.currentPage - 1 and paginator.currentPage < paginator.lastPage %}
                    {% set min = paginator.currentPage - 1 %}
                    {% set max = paginator.currentPage + 1 %}
                {% elseif 1 <= paginator.currentPage - 1 and paginator.currentPage >= paginator.lastPage %}
                    {% set min = paginator.currentPage - 2 %}
                    {% set max = paginator.currentPage %}
                {% endif %}
                {% if paginator.currentPage > 3 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(targetPath, {page: 1}) }}">1 ...</a>
                    </li>
                {% endif %}
                {% for i in min..max %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active">
                            <span class="page-link" >{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path(targetPath, {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.lastPage - paginator.currentPage >= 3 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(targetPath, {page: paginator.lastPage}) }}">... {{ paginator.lastPage }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if paginator.hasNextPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(targetPath, {page: paginator.nextPage}) }}">
                        {{ "label.next"|trans }} <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        {{ "label.next"|trans }} <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}
