{% extends 'settings/_base.html.twig' %}

{% block title %}{{ "title.my_account"|trans }} - {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{{ "title.my_account"|trans }}</li>
{% endblock %}

{% block card %}
    <div class="card-body">
        <h2 class="mb-4">{{ "title.my_account"|trans }}</h2>
        <h3 class="card-title mt-4">{{ "label.username"|trans }}</h3>
        <p class="card-subtitle">{{ "help.username_set_new"|trans }}</p>
        <p><em>{{ app.user.username }}</em></p>

        <h3 class="card-title mt-4">{{ "label.email"|trans }}</h3>
        <p class="card-subtitle">{{ "help.email_set_new"|trans }}</p>
        <p>
            <code>{{ app.user.email }}</code>
            {% if app.user.isVerified %}
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#2fb344" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l5 5l10 -10" />
                </svg>
                {{ "label.is_verified"|trans }}
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#d63939" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
                {{ "label.is_not_verified"|trans }}
            {% endif %}
        </p>
        <p>
            {% if app.user.isVerified %}
                <a href="{{ path('app_settings_email') }}" class="btn">
                    {{ "btn.email_set_new"|trans }}
                </a>
            {% else %}
                <a href="{{ path('app_settings_email') }}" class="btn disabled">
                    {{ "btn.email_set_new"|trans }}
                </a>
                <a href="{{ path('app_api_user_resend_email_verifier') }}" class="btn">
                    {{ "btn.email_resend_verification"|trans }}
                </a>
            {% endif %}
        </p>

        <h3 class="card-title mt-4">{{ "label.password"|trans }}</h3>
        <p class="card-subtitle">{{ "help.password_set_new"|trans }}</p>
        <div>
            <a href="{{ path('app_settings_password') }}" class="btn">
                {{ "btn.password_set_new"|trans }}
            </a>
        </div>
        {{ form_start(form) }}
        <h3 class="card-title mt-4">{{ "title.public_profile"|trans }}</h3>
        <p class="card-subtitle">{{ "help.public_profile"|trans }}</p>

        {{ form_row(form.isPublic) }}
    </div>
    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            <a href="{{ path('app_settings_account') }}" class="btn">
                {{ "label.cancel"|trans }}
            </a>
            <button type="submit" class="btn btn-primary">
                {{ "label.apply_changes"|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
