{% extends 'settings/_base.html.twig' %}

{% block title %}{{ "title.password_update"|trans }} - {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page">{{ "title.my_account"|trans }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ "title.password_update"|trans }}</li>
{% endblock %}

{% block card %}
    <div class="card-body">
        <h2 class="mb-4">{{ "title.password_update"|trans }}</h2>
        <h3 class="card-title mt-4">{{ "label.password"|trans }}</h3>
        <p class="card-subtitle">{{ "help.password_set_new"|trans }}</p>

        {{ form_start(form) }}

        {{ form_row(form.currentPassword) }}

        {{ form_row(form.password) }}
    </div>
    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            <a href="{{ path('app_settings_account') }}" class="btn">
                {{ "label.cancel"|trans }}
            </a>
            <button type="submit" class="btn btn-primary">
                {{ "label.change_password"|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
