{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="content pb-0" align="center">
                <table class="icon icon-lg bg-blue" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="middle" align="center">
                            <img src="{{ absolute_url(asset('images/icons-white-lock-open.png')) }}" class=" va-middle" width="40" height="40" alt="lock-open" />
                        </td>
                    </tr>
                </table>
                <h1 class="text-center m-0 mt-md">{{ "email.password_reset_title"|trans }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content text-center">
                <p>
                    {{ "email.password_reset_help"|trans }}
                </p>
            </td>
        </tr>
        <tr>
            <td class="content text-center pt-0 pb-xl">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" border="0" class="bg-blue rounded w-auto">
                                <tr>
                                    <td align="center" valign="top" class="lh-1">
                                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="btn bg-blue border-blue">
                                            <span class="btn-span">{{ "label.reset_password"|trans }}</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p>
                                <i>{{ "email.link_expiration"|trans }}: .</i>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content text-muted pt-0 text-center">
                {{ "email.password_reset_trouble"|trans({url: url('app_reset_password', {token: resetToken.token})}) }}
            </td>
        </tr>
    </table>
{% endblock %}
