<div{{ attributes }}>
    <div class="card" style="height: 28rem">
        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
            <div class="divide-y">
                {% for auditlog in this.latestLogs.getResults %}
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">
                                    <a class="text-muted" href="{{ path('app_admin_system_auditlog_detail', {id: auditlog.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                            <path d="M21 21l-6 -6" />
                                        </svg>
                                    </a>
                                </span>
                            </div>
                            <div class="col">
                                {% if auditlog.action == 'insert' %}
                                    <span class="badge bg-green text-white">{{ 'label.action_insert'|trans }}</span>
                                {% elseif auditlog.action == 'update' %}
                                    <span class="badge bg-cyan text-white">{{ 'label.action_update'|trans }}</span>
                                {% elseif auditlog.action == 'remove' %}
                                    <span class="badge bg-red text-white">{{ 'label.action_remove'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-secondary text-white">{{ auditlog.action }}</span>
                                {% endif %}

                                {% if auditlog.action != 'remove' %}
                                    {% if auditlog.entityType == 'User' %}
                                        <a href="{{ path('app_admin_user_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'DispatchArea' %}
                                        <a href="{{ path('app_admin_area_dispatch_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'State' %}
                                        <a href="{{ path('app_admin_area_state_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'SupplyArea' %}
                                        <a href="{{ path('app_admin_area_supply_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% elseif auditlog.entityType == 'Hospital' %}
                                        <a href="{{ path('app_admin_hospital_show', {id: auditlog.entityId}) }}">{{ auditlog.entityType }} ({{ auditlog.entityId }})</a>
                                    {% else %}
                                        {{ auditlog.entityType }} ({{ auditlog.entityId }})
                                    {% endif %}
                                {% else %}
                                    <del class="text-muted">{{ auditlog.entityType }} ({{ auditlog.entityId }})</del>
                                {% endif %}
                                <div class="list-inline list-inline-dots text-muted mt-1">
                                    <div class="list-inline-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                                            <path d="M12 7v5l3 3" />
                                        </svg>
                                        {{ auditlog.createdAt|date('d.m.Y H:i') }}
                                    </div>
                                    {% if auditlog.user is not null %}
                                        <div class="list-inline-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-square" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                                <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
                                                <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
                                            </svg>
                                            <a href="{{ path('app_admin_user_show', {id: auditlog.user.id}) }}">{{ auditlog.user }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="empty">
                        <div class="empty-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                                <line x1="9" y1="10" x2="9.01" y2="10" />
                                <line x1="15" y1="10" x2="15.01" y2="10" />
                                <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                            </svg>
                        </div>
                        <p class="empty-title">{{ "label.search_no_results"|trans }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
