<div{{ attributes }}>
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title">10 {{ "label.newest_users"|trans }}</div>
        </div>
        <div class="card-table table-responsive">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th>{{ "label.username"|trans }}</th>
                    <th>{{ "label.email"|trans }}</th>
                    <th>{{ "label.created_at"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in this.users.results %}
                    <tr>
                        <td class="w-25">
                            <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">{{ user.username }}</a>
                        </td>
                        <td class="td-truncate">
                            <div class="text-truncate">
                                {{ user.email }}
                                {% if user.isVerified %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check-filled" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="green" />
                                    </svg>
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-nowrap text-muted">{{ user.createdAt ? user.createdAt|date('d.m.Y H:i') : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
